Package: dev.hamad.hplus
Name: HPlus
Version: 1.0.0
Architecture: iphoneos-arm
Description: A lightweight YouTube enhancer
Maintainer: Hamad
Author: Hamad
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
